<?xml version="1.0" encoding="utf-8" ?>
<!--<authorizationPolicy type="ContentVersioning.Web.Policies.NoAuthorizationPolicy">
</authorizationPolicy>-->
<authorizationPolicy type="ContentVersioning.Web.Policies.ClaimsAuthorizationPolicy">
  <site id=".*">
    <content id=".*">
      <allowGetCurrentPublishedContent mustBeAuthorized="false" />
      <allowChangeContentStatus mustBeAuthorized="true">
        <claim name="group" value="publisher"/>
      </allowChangeContentStatus>
      <allowManageContent mustBeAuthorized="true"/>
    </content>
  </site>
</authorizationPolicy>